<div class="container question">
  <p class="text-capitalize"><%= @question %></p>
  <p class="font-italic font-weight-light">-You</p>
</div>

<div class="container answer">
  <p><%= @answer %></p>
  <p class="font-italic font-weight-light">-Your Coach</p>
</div>

<p><%= link_to 'Ask a new question', '/ask' %></p>
