<form action="/answer" method="get">
  <p class="font-italic font-weight-light">Ask your coach anything:</p>
  <div class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder="Your Question here"aria-describedby="button-addon1">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="button-addon1">Ask</button>
    </div>
  </div>
</form>
